[submodule "push_swap"]
	path = push_swap
	url = https://github.com/fritz-gabler/push_swap.git
[submodule "libs"]
	path = libs
	url = git@github.com:fritz-gabler/libs.git
[submodule "libft"]
	path = libft
	url = git@github.com:fritz-gabler/libft.git
